@using Foundation.Features.Checkout.Payments

@model MollieCheckoutPaymentOption

@Html.HiddenFor(model => model.PaymentMethodId)

<div class="row">
    <div class="col-md-12 checkout-mollie">
        
        <div class="molliePaymentMethods" style="padding: 20px;">
            @foreach (var method in Model.PaymentMethods)
            {
                <span>
                    <img src="@method.ImageSize1X" />
                    @method.Description
                </span><br/>
            }
        </div>

    </div>
</div>

