@using Foundation.Features.Checkout.Payments

@model MollieCheckoutPaymentOption

@Html.HiddenFor(model => model.PaymentMethodId)

<br />
<div class="row">
    <div class="col-12">
        <div class="alert alert-info square-box">
            Mollie checkout..
        </div>
    </div>
</div>