<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="EPiServer" value="http://nuget.episerver.com/feed/packages.svc/" />
    <add key="Mollie" value="https://pkgs.dev.azure.com/arlanet/Mollie/_packaging/Mollie/nuget/v3/index.json" />
	<add key="github" value="https://nuget.pkg.github.com/mollie/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="markprins81" />
            <add key="ClearTextPassword" value="beb2d5bb4308da3173482c521833dcb5f8db35dd" />
        </github>
    </packageSourceCredentials>
</configuration>
