<connectionStrings>
<clear />
  <add name="EPiServerDB" connectionString="Server=tcp:arlanet-devsql.database.windows.net,1433;Initial Catalog=mollie-dev.foundation.Cms;Persist Security Info=False;User ID=dbUserMollie;Password=m9w8#83HVj;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="Server=tcp:arlanet-devsql.database.windows.net,1433;Initial Catalog=mollie-dev.foundation.Commerce;Persist Security Info=False;User ID=dbUserMollie;Password=m9w8#83HVj;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
<!--  
<add name="EPiServerAzureBlobs" connectionString="DefaultEndpointsProtocol=https;AccountName=ChangeThis;AccountKey=ChangeThis" />
<add name="EPiServerAzureEvents" connectionString="Endpoint=sb://ChangeThis.servicebus.windows.net/;SharedAccessKeyName=ChangeThis;SharedAccessKey=ChangeThis" />
-->
</connectionStrings>