
@model List<Mollie.Checkout.Models.PaymentMethod>
    

<div style="padding: 20px;">
    
    @foreach (var method in Model)
    {
        <div class="row">
            <div class="col-md-12">
                <img src="@method.ImageSize1x" />
                <label class="jsselectmethod">@method.Description</label>

                @*<input class="radio" id="availableMethod" name="Method" type="radio" value="#@method.Id">*@
            </div>

        </div>
    }

</div>