<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="ChangeThis" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="ChangeThis" providerName="System.Data.SqlClient" />
  <!--  
<add name="EPiServerAzureBlobs" connectionString="DefaultEndpointsProtocol=https;AccountName=ChangeThis;AccountKey=ChangeThis" />
<add name="EPiServerAzureEvents" connectionString="Endpoint=sb://ChangeThis.servicebus.windows.net/;SharedAccessKeyName=ChangeThis;SharedAccessKey=ChangeThis" />
-->
</connectionStrings>