@model Mollie.Checkout.Models.CheckoutConfiguration

@if (Model.UseApplePayDirectIntegration)
{
    <div id="applepaydirect" class="apple-pay-button-with-text apple-pay-button-black-with-text hidden">
        <span class="text">Buy with</span>
        <span class="logo"></span>
    </div>

    <link href="~/Assets/css/mollie.apple.pay.direct.css" rel="stylesheet" type="text/css" />

    <script src="~/Assets/js/mollie.apple.pay.js"></script>
    <script src="~/Assets/js/mollie.apple.pay.direct.js"></script>
}